<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.android_5">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance" />
        <activity
            android:name=".touchlogger.TouchloggerActivity"
            android:label="@string/title_activity_touchlogger"
            android:launchMode="singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".touchlogger.KeyboardActivity"
            android:label="@string/title_activity_touchlogger_keyboard"
            android:launchMode="singleInstance"
            android:parentActivityName=".touchlogger.TouchloggerActivity" />
        <activity
            android:name=".touchlogger.PinCodeActivity"
            android:label="@string/title_activity_pin_code"
            android:launchMode="singleInstance"
            android:parentActivityName=".touchlogger.TouchloggerActivity" />
        <activity
            android:name=".touchlogger.IconGridActivity"
            android:label="@string/title_activity_icon_grid"
            android:launchMode="singleInstance"
            android:parentActivityName=".touchlogger.TouchloggerActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".graphs.AccelerometerActivity"
            android:label="Accelerometer Graph"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"/>


        <service
            android:name=".sensors.AccelerometerService"
            android:enabled="true" />
        <service
            android:name=".sensors.GravityService"
            android:enabled="true" />
        <service
            android:name=".sensors.LightService"
            android:enabled="true" />
        <service
            android:name=".sensors.MagnitudeService"
            android:enabled="true" />
        <service
            android:name=".sensors.PressureService"
            android:enabled="true" />
        <service
            android:name=".sensors.OrientationService"
            android:enabled="true" />
        <service
            android:name=".sensors.GyroscopeService"
            android:enabled="true" />

    </application>

</manifest>
